<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.klp1.calculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calculator"
        android:usesCleartextTraffic="true">
        <activity android:name=".FragmentBerat"></activity>
        <activity android:name=".FragmentSuhu" />
        <activity android:name=".FragmentPanjang" />
        <activity
            android:name=".SatuanActivityTab"
            android:label="@string/title_activity_satuan_tab"
            android:theme="@style/Theme.Calculator.NoActionBar" />
        <activity android:name=".MenuSatuanActivity" />
        <activity android:name=".CurrencyActivity9" />
        <activity android:name=".CurrencyActivity8" />
        <activity android:name=".CurrencyActivity7" />
        <activity android:name=".CurrencyActivity6" />
        <activity android:name=".CurrencyActivity5" />
        <activity android:name=".CurrencyActivity4" />
        <activity android:name=".CurrencyActivity3" />
        <activity android:name=".CurrencyActivity2" />
        <activity android:name=".CurrencyActivity1" />
        <activity android:name=".CurrencyActivity0" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>